

<!-- THESE ARE THE COPIES FOR THE SOPH JUN AND SEN -->


<div class="container">
	<h3>Sophomore Year</h3>
	<h4>Spring Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j]  %><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>

<div class="container">
	<h4>Fall Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j] %></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>

<div class="container">
	<h3>Junior Year</h3>
	<h4>Spring Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j] %></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>

<div class="container">
	<h4>Fall Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j] %></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>


<div class="container">
	<h3>Senior Year</h3>
	<h4>Spring Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j] %></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>

<div class="container">
	<h4>Fall Semester</h4>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<% for(var i = 0; i < 3; i++) {%>
			<tr>
				<% for(var j = 0; j < 6; j++) {%>
					<td><%= entries[j] %></td>
				<%}%>
			</tr>
		<%}%>
	</table>
</div>




<!-- THIS IS A TESTING USING JUST PLAIN STATIC HTML TO RENDER A VIEW -->

<div class="container">
	<h3>Freshman Year - TESTING - MADE WITH STATIC HTML</h3>
	<table class="table table-hover">
		<tr>
			<th>Major Courses</th>
			<th>General Courses</th>
			<th>Basic Courses</th>
			<th>Elective Courses</th>
			<th>Activity Units</th>
			<th>Other</th>
		</tr>
		<tr>
			<td>Data Structure</td>
			<td>General Physics II</td>
			<td>Introduction to Mass Communication</td>
			<td>Progammring Practice</td>
			<td>Leadership 3H</td>
			<td>TOEFL</td>
		</tr>
	</table>
</div>









<!-- JUST SOME STUFF NOT TO FORGET -->

<% include header %>


<% include footer %>






